.glassmorphism {
	backdrop-filter: blur(2px) saturate(180%);
	-webkit-backdrop-filter: blur(2px) saturate(180%);
	background: rgba(0 0 0 / 50%);
}

.loader-pointer {
	animation: scaleOutMain 1.2s ease-in-out infinite;
}
@keyframes scaleOutMain {
	0% {
		scale: 0;
	}
	100% {
		opacity: 0;
		scale: 1.2;
	}
}
