@font-face {
	font-family: "Syne";
	src: url("../fonts/Syne-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Sora";
	src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "IBMPlexSans";
	src: url("../fonts/IBMPlexSans-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Mulish";
	src: url("../fonts/Mulish-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Söhne";
	src: url("../fonts/Shone-Regular.otf") format("opentype");
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Stolzl";
	src: url("../fonts/Stolzl-Book.ttf") format("truetype");
}
@font-face {
	font-family: "Nunito Sans";
	src: url("../fonts/NunitoSans-VariableFont.ttf") format("truetype");
}
@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Lora";
	src: url("../fonts/Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Fira Code";
	src: url("../fonts/FiraCode-VF.ttf") format("truetype");
}
@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Bianco";
	src: url("../fonts/BiancoSerif-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "CASaygon";
	src: url("../fonts/CASaygonText-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Cormonrant";
	src: url("../fonts/CormorantInfant-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Roobert";
	src: url("../fonts/Roobert-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "SpaceGrotesk";
	src: url("../fonts/SpaceGrotesk.ttf") format("truetype");
}
@font-face {
	font-family: "Work Sans";
	src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Epilogue";
	src: url("../fonts/Epilogue-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Exo";
	src: url("../fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Expletus Sans";
	src: url("../fonts/ExpletusSans-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Magnat";
	src: url("../fonts/MagnatText-Regular.otf") format("truetype");
}
@font-face {
	font-family: "Grotesk";
	src: url("../fonts/FamiljenGrotesk-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Sharp Grotesk";
	src: url("../fonts/SharpGrotesk-Book20.otf") format("truetype");
}
