@font-face {
	font-family: "Syne";
	src: url("../fonts/Syne-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@font-face {
	font-family: "Sora";
	src: url("../fonts/Sora-VariableFont_wght.ttf") format("truetype");
}
