@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-clr: #8390fa;
}
*:not(svg, label) {
	transition: all 200ms ease;
	text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
	display: none;
}
.no-scroll::-webkit-scrollbar {
	display: none;
}

.no-scroll::-webkit-scrollbar-track {
	background: #3c4764;
	border-radius: 9999px;
}

.input_container::before {
	transition: 300ms ease;
	transform: scaleX(0);
}
.input_container:focus-within::before {
	transform: scaleX(1);
}
.textarea_container::before {
	transform: scaleX(0) translateY(-2px);
	transition: 300ms ease;
	top: 100%;
}
.textarea_container:focus-within::before {
	transform: scaleX(1);
}
/* Handle */
.no-scroll::-webkit-scrollbar-thumb {
	background: #182341;
	border-radius: 90px;
}

@media all and (max-width: 500px) {
	html {
		font-size: 15.8px;
	}
}

.pill {
	@apply bg-gray-200 rounded-sm p-1 px-3 leading-none;
}
.text {
	@apply font-medium;
}
.test.key {
	@apply font-semibold;
}
.text-small {
	@apply text-gray-600/90 font-normal;
}
.text-title {
	@apply font-bold uppercase;
}
.value {
	@apply font-normal;
}
.divider {
	@apply text-gray-600/90 font-bold;
}
.splide.is-initialized,
.splide.is-rendered {
	height: 100%;
}
.splide__pagination {
	padding-inline: 0 !important;
	margin-block-start: 2rem !important;
}
.splide__pagination__page:focus-visible {
	outline-color: transparent !important;
}
.splide__pagination__page.is-active {
	background-color: var(--primary-clr) !important;
}
.splide__arrow {
	display: none !important;
}
