@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(svg, label) {
	transition: all 300ms ease-in-out;
	text-rendering: optimizeLegibility;
}
body::-webkit-scrollbar {
	display: none;
}
.no-scroll::-webkit-scrollbar {
	display: none;
}

.no-scroll::-webkit-scrollbar-track {
	background: #3c4764;
	border-radius: 9999px;
}

.input_container::before {
	transition: 300ms ease;
	transform: scaleX(0);
}
.input_container:focus-within::before {
	transform: scaleX(1);
}
/* Handle */
.no-scroll::-webkit-scrollbar-thumb {
	background: #182341;
	border-radius: 90px;
}

@media all and (max-width: 500px) {
	html {
		font-size: 15px;
	}
}
